// src/Summary/Summary.scss
.summary {
    padding: 0px;
    background-color: #f8f9fa;
  
    h1 {
      font-size: 2rem;
      margin-bottom: 20px;
    }
  
    svg {
      margin-bottom: 20px;
    }
  
    p {
      font-size: 1rem;
      color: #495057;
    }
  }
  